---
layout: default
---
<div class="uk-container uk-container-center uk-vertical-align-middle">
  <article class="uk-article">
    <h1 class="uk-article-title">{{post.title}}</h1>
    <p class="uk-article-meta">
      Written by {{post.author}} on {{post.date}} {% if post.category %} in {{post.category}} {% endif %}.
    </p>
    {% if post.show_excerpt and post.excerpt %}
    <p class="uk-article-lead">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
    {% endif %}
    <p> {{ post.content }} </p>
  </article>
</div>
